@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <base href="@Url.Content("~")" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Task Manager</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    
    <link href="~/public/libs/kendo-ui-core/styles/web/kendo.common.core.min.css" rel="stylesheet" />
    <link href="~/public/libs/kendo-ui-core/styles/web/kendo.default.min.css" rel="stylesheet" />
    <script src="~/public/libs/kendo-ui-core/js/kendo.ui.core.min.js"></script>
    <script src="~/public/libs/kendo-ui-core/js/kendo.angular.min.js"></script>
    <script src="~/public/libs/ui-bootstrap/ui-bootstrap-tpls-0.13.2.min.js"></script>

    <script src="~/public/scripts/app.js"></script>
    <script src="~/public/scripts/services/taskService.js"></script>
    <script src="~/public/scripts/controllers/authController.js"></script>
    <script src="~/public/scripts/controllers/taskController.js"></script>
    <link href="~/public/libs/toastr/toastr.css" rel="stylesheet" />
    <script src="~/public/libs/toastr/toastr.js"></script>
</head>

<body ng-app="taskManagerApp">
    <div id='main' class="container">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/">Task Manager</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-show="!isAuthenticated"><a href="#/login">Login</a></li>
                        <li ng-show="!isAuthenticated"><a href="#/register">Register</a></li>
                        <li ng-show="isAuthenticated"><a href="#">Logged in as {{currentUser}}</a></li>
                        <li ng-show="isAuthenticated"><a href="#/" ng-click="logout()">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <div ng-view>
            </div>
        </div>
    </div>
</body>
</html>
